---
import '../styles/global.css';
---
<html lang="ro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hanter.md — Covorașe auto</title>
  </head>
  <body>
    <h1>Hanter.md</h1>
  </body>
</html>
